<!-- <h1>Welcome#index</h1> -->
<title><Edward's First Rail Site</title>
<p><h1>This is Edward's First Rails Site</h1></p>
<ol>
	<li><a href="http://localhost:3000/states">Create\View\Edit States Info</a></li>
	<li><a href="http://localhost:3000/activities">Create\View\Edit Activities Info</a></li>
</ol>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->
